*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.591) 0,rgba(0,0,0,.502)),
    url(image/netflix.jpg);
}
.logo{
    position: absolute;
    color: #e50914;
    top: 2%;
    left: 10%;
    line-height: normal;
}
.language{
    position: absolute;
    top: 6%;
    right: 14%;
    margin: 0px 25px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: rgba(26, 25, 25, 0.276);
}
select,button{
    font-size: 2rem;
    border: none;
    cursor: pointer;
}
select{
    background: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 0.4rem 0.8rem;
}
.btn-sign{
    background-color: #e50914;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    font-size: 1.4rem;
}
.signup{
    position: absolute;
    top: 6%;
    right: 8%;
    
}
.hero-heading{
    position: absolute;
    top: 40%;
    left: 12%;
    margin-inline: 5rem;
}
h1{
    color: white;
    text-align: center;
    font-size: 3.125rem;
    /* margin-inline: auto; */
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.media{
    display: none;
}

h2{
    color: white;
    font-size: 2rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin: 0 2rem 2rem 14rem;
    font-weight: 400;
}
h3{
    color: white;
    font-size: 1.8rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 400;
    padding: 0 2rem;
    text-align: center;
}
.search{
    position: absolute;
    top: 82%;
    left: 22%;
}
.search input{
    border-radius: 6px;
    padding: 1.4rem 16rem 1.4rem 2rem;
    font-size: 1.4rem;
}
.btn{
    position: absolute;
    top:82%;
    left: 58%;
    border: none;
}
.btn button{
    font-size: 1.6rem;
    padding: 1.4rem 2rem;
    border-radius: 6px;
    background-color: #e50914;
    color: white;
}
.line{
    height: 10px;
    width: 100%;
    background-color: rgba(21, 20, 20, 0.799);

}

/*******hero section******/
.hero-section, .download-section{
    height: 90vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.hero-1, .hero-2{
    flex: 2;
    z-index: 100;
    text-align: center;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.section-text{
    margin: 10rem 2rem;
}
.hero-text{
    font-size: 3.8rem;
    font-weight: 800;

}
.hero-text-small{
    font-size: 2rem;
}
.tv-video{
    position: relative;
    overflow: hidden;
    z-index: -1;
    bottom: 24.5rem;
    left: -2px;
    width: 60%;
    padding: 10px;
}

/********Download section********/

.down-section-1, .down-section-2{
    flex: 2;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: white;
}
.down-section-text{
    font-size: 4rem;
    font-weight: 800;
    margin-right: 100px;
    
}
.down-section-smalltext{
    font-size: 2rem;
    margin: 0 50px;
}
.download-img{
    margin-left: 100px;
}
.download{
    display: flex;
    border: 4px solid rgb(50, 47, 47);
    z-index: 1;
    overflow: hidden;
    position: relative;
    bottom: 10rem;
    left: 33%;
    width: 45%;
    border-radius: 15px;
    background-color: black;
}
.download-title{
    font-weight: 700;
    font-size: 22px;
    padding: 35px 5px;
    
}
.title-img{
    height: 7rem;
    padding: 10px 15px;
}
.title-span{
    position: absolute;
    left: 29%;
    top:60%;
    color: rgb(28, 28, 202);
    font-size: 18px;
}
.material-symbols-outlined{
    position: absolute;
    right: 5%;
    top:40%;
}

/*******computer-screen*****/
.computer-screen{
    height: 90vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.hero-text-small{
    padding-left: 50px;
}
.dekstop-img{
    margin: 5rem 0;
}
.desktop-video{
    z-index: -1;
    overflow: hidden;

    max-width: 52%;
    max-height: 36%;
    position: relative;
    bottom: 33rem;
    left: -2px;
}

/*********children-profile********/

.children-profile{
    height: 90vh;
    width: 100%;
    background-color: black;
    display: flex;
}

/*******faq section*******/

.faq-section{
    height: 150vh;
    width: 100%;
    background-color: black;

}
.faq-head-text{
    text-align: center;
    padding-left: 12rem;
    padding-top: 2rem;
}
.questions{
    padding: 0 14rem;
    color: white;
}
.faq{
    padding: 1.5rem;
    margin: 1rem 0;
    font-size: 2rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-transform: capitalize;
    background-color: rgb(45 45 45);
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    transition-duration: 250ms;
}
.faq:hover{
    background-color:rgb(95, 94, 94) ;
}
.faq > span{
    float: right;
    font-size: 4rem;
    line-height:0.5;
}
.footer-login{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin-top: 2rem;
    position: relative;
}
.footer-login-text{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 3rem;
}
.footer-login > .search{
   
    position: absolute;
    top: 65%;
    left: 30%;
}
.footer-login > .search input{
    padding: 24px 180px 24px 12px;
    font-size: 22px;
}
.footer-login > .btn{
    position:absolute;
    top: 65%;
    left: 60%;
    border: none;
}
.footer-login > .btn button{
    font-size: 26px;
    padding: 24px 25px;
    border-radius: none;
    background-color: #e50914;
    color: white;
}

/*******main-footer****/

.main-footer{
    height: 90vh;
    width: 100%;
    background-color: black;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: rgb(232, 231, 248);
}
.footer-para{
    padding-left: 11rem;
    padding-top: 8rem;
    
}
.footer-call{
    font-size: 1.2rem;
    display: block;
    
}
.Call{
    text-decoration: underline;
}
.main-footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 8rem;
}
.footer-item{
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
    margin: 1.2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.footer-col-1{
    padding-left: 3rem;
}
.footer-col-3{
    padding-right: 14rem;
}
.language2{
    margin-left: 10rem;
    margin-top: 1rem;
}
.footer-btn{
    border: 1px solid white;
    background-color: rgb(23, 23, 23);
    border-radius: 6px;
    padding: 0.3rem 1rem;
}
.neflix{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}




/*******Media query*****/

@media screen and (max-width:60em) {
    .main-container, .hero-section, .download-section, .computer-screen, .children-profile, .faq-section, .line, .main-footer{
        /* background-color: rgb(0, 0, 0); */
        display: none;
    }
    .media{
        display: block;
        text-align: center;
        /* justify-items: center; */
        color: black;
        font-size: 3rem;
        padding: 2rem;
        margin: 4rem;
    }
    
}